<div style="display: flex; ">
    <mat-card class="example-card" style="margin-left: 20px;">
        <mat-card-header>
          <mat-card-title-group>
            
    <img src="../../../assets/ele1.jpg" width="100%" height="100%">
          </mat-card-title-group>
        </mat-card-header>
        <div style="text-align:center; margin-top: 10px;">
          <button class="btn btn-primary"  mat-dialog-close>Show more...</button>
          </div>
      </mat-card>
    
      <mat-card class="example-card" style="margin-left: 20px;">
        <mat-card-header>
          <mat-card-title-group>
            
            <img src="../../../assets/ele2.jpg" width="100%" height="100%">
          </mat-card-title-group>
        </mat-card-header>
        <div style="text-align:center; margin-top: 10px;">
          <button class="btn btn-primary"  mat-dialog-close>Show more...</button>
          </div>
      </mat-card>
    
      <mat-card class="example-card" style="margin-left: 20px;">
        <mat-card-header>
          <mat-card-title-group>
            
            <img src="../../../assets/ele3.jpg" width="100%" height="100%">
          </mat-card-title-group>
        </mat-card-header>
        <div style="text-align:center; margin-top: 10px;">
          <button class="btn btn-primary"  mat-dialog-close>Show more...</button>
          </div>
      </mat-card>
    </div>